103 ICON "launcher.ico"

110 RCDATA "../FenLoader/bin/Release/net4.8/FenLoader.dll"
111 RCDATA "../FenLoader/bin/Release/net4.8/0Harmony.dll"
112 RCDATA "../FenLoader/bin/Release/net4.8/Mono.Cecil.dll"
113 RCDATA "../FenLoader/bin/Release/net4.8/MonoMod.RuntimeDetour.dll"
114 RCDATA "../FenLoader/bin/Release/net4.8/MonoMod.Utils.dll"
115 RCDATA "build/libloader.dll"
